*::selection {
	background-color: #000;
	color: #fff;
}

* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	color: #fff;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.border-container {
	position: fixed;
	top:0;
	z-index: 1;
	width: 100%;
	height: 100%;

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	border: 12px solid #fff;
}

.border-top,
.border-left,
.border-right,
.border-bottom {
	position: fixed;
	background-color: #fff;
}

.border-top, 
.border-bottom{	
	width: 100%;
	height: 12px;
}
.border-left,
.border-right{
	width: 12px;
	height: 100%;
}
.border-right{
	right:0;
}
.border-bottom{
	bottom:0;
}

.container {
	margin: 0 auto;
}


.col-md-1 {
	width: 50%;
	float: left;
}

.col-md-2 {
	width: 100%;
}

.full-screen {
	position: relative;
	display: table;
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.glitter-fade-in span, .glitter-fade-in-on-hover span:hover, .fade-in {
	opacity: 0;
}

.vertical-container{
	display: table-cell;
	vertical-align: middle;
}

a {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff
}

.fade-in-delayed {
	-webkit-animation: 	fadeIn 1s ease 1s;
	-webkit-animation-fill-mode: both;
	animation: fadeIn 2s ease 1s;
    animation-fill-mode: both;
}

.background-pattern-video {
	position: absolute; 
	width: 100%; 
	opacity: .3; 
	min-height: 100%; 
	background: url(../img/back-splash-pattern.png); 
	z-index: -1;
}

.nav {
	&.negative{
		color: #161616;
		a{
			color: #161616;
		}
		.bar{
			background-color: #161616;
		}
	}

	position: fixed;
	z-index:1000;
	right: 12px; 
	top: 12px;
	margin: 10pt;
	font-size: 10pt;

	a {
		margin: 0 10pt;
	}

	.bar {
		width: 10pt;
		height: 1pt;
		background-color: #fff;
		position: absolute;
		left: 0;
	}
}


.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-ulg {
	font-size: 2.5em;
}

.text-lg {
	font-size: 2em;
}

.text-md {
	font-size: 1.5em;
}

.vmargin-sm {
	margin: 10vh auto;
}

.vmargin-md {
	margin: 20vh auto;
}

.vmargin-lg {
	margin: 30vh auto;
}

.h1 {
	font-size: 2.8em;
}

.h2 {
	font-size: 1.4em;
}

.h3 {
	font-size: 1em;
}

quote {
	font-size: 12pt;
	display: block;
	padding: 5px;
	text-align: center;
}

section#hello-screen {
	overflow:hidden;
	p{
		margin: 20px;
	}
	p.title{
		font-size: 30pt;
		font-weight: 900;
	}

	p.subtitle {
		margin-top: 20px;
		font-size: 12pt;
		font-weight: 300;
		letter-spacing: 2pt;
	}
	video{
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		z-index: -500;
	}
}

section#contact-screen{
	background-color: #161616;
	.name {
		font-size: 30pt;
		font-weight: 900;
		margin: 20px;
	}
	.sit {
		margin: 20pt;
		font-size: 9pt;
		text-transform: uppercase;
	}
	.address {
		font-size: 12pt;
	}
	.social {
		font-size: 12pt;

		i {
			margin: 20pt 5pt;
		}
	}

}

section#skills-screen {
	background: #fff;
	color: #161616;
	p.title {
		font-size: 24pt;
		font-weight: 900;
	}
	.subtitle {
		font-size: 12pt;
		font-weight: 700;
	}
	p.text {
		font-size: 10pt;
		font-size: 10pt;
		text-align: justify;
		width: 60%;
		line-height: 1.5em;
	}

	.title, .subtitle, .text {
		margin: 50pt auto;
	}

	a{
		font-weight: inherit;
		color: inherit;
	}
}

#my-heart {
	width: 30pt;
	height: 30pt;
	display: block;
	margin: 10pt auto;	
}

a.jazzy-innovations{
	color: #A83295 !important;
}


@media (min-width: 1400px) { 
	html, body {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 768px) and (max-width: 991px)  { 
	.container {
    	width: 750px;
  	}
}

@media (min-width: 992px) and (max-width: 1199px)  { 
	.container {
    	width: 970px;
  	}
}

@media (min-width: 768px)  { 
	html, body {
		font-size: 10px;
	}
}


@media (max-width: 767px) { 
	html, body {
		font-size: 6px;
	}

	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.col-md-1 {
		width: 100%;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)	{

	#hello-screen {
		background-image: url(../img/background-mobile.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
	}

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 

	#hello-screen {
		background-image: url(../img/background-mobile.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
	}

}

@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 960px) { 

	#hello-screen {
		background-image: url(../img/background-mobile.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
	}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 

	#hello-screen {
		background-image: url(../img/background-mobile.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
	}

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
	#hello-screen {
		background-image: url(../img/background-mobile.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
	}
}

@media only screen
and (max-width: 480px) { 
	.hidden-on-mobile {
		display: none;
	}

	html, body {
		font-size: 4px;
	}

	#hello-screen {
		background-image: url(../img/background-mobile.jpg) !important;
		background-repeat: no-repeat;
		background-size: cover !important;
		background-position: center;
	}

	#skills-screen {
		p.text{
			width:100% !important;	
		}
	}

	.nav {
		position: absolute;
		top:0;
		right:0;
		width: 100%;
		margin: 10pt auto;
		text-align:center;
	}
}


@-webkit-keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

